*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* Основные стили страницы */
.page {
    display: flex;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;

    justify-content: center;
    align-items: center;

}

/* Скрытые элементы */
.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

/* Основной контент */
.content {
    display: grid;
    grid-template-columns: 711px 399px;
    grid-column-gap: 30px;
}

.result {
    display: grid;
    grid-template-rows: 386px 54px;
    grid-row-gap: 16px;
    position: relative;
    top: 70px;
    height: 456px;
}
.result__video-container {
    height: 386px;
    width: 100%;
}
.result__video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Форма поиска */
.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    height: 54px;
}
.search-form__fieldset {
    border: none;
}
.search-form__fieldset.time {
    width: 212px;
}
.search-form__fieldset-title {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 100%;
}
.search-form__label {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    cursor: pointer;
}
.search-form__label-text {}
.search-form__textfield {
    width: 225px;
    height: 27px;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    padding: 2.5px 0;
    appearance: none;
}
.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}
.search-form__textfield:focus {
    outline: none;
}
.search-form__label:has(.search-form__textfield:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 1px;
}
.search-form__checkbox {}
.search-form__pseudo-checkbox {
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 1px solid #fff;
    position: relative;
}
/* Внутренний квадрат чекбокса */
.search-form__pseudo-checkbox::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    opacity: 0;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    opacity: 1;
}
.search-form__label:has(.search-form__checkbox:focus-visible) .search-form__pseudo-checkbox {
    outline: 1px solid #fff;
    outline-offset: 1px;
}
/* Подчеркивание текста при наведении на лейбл чекбокса */
.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
}
.search-form__submit-button {
    width: 194px;
    height: 34px;
    align-self: flex-end;
    /* Убираем стандартный отступ браузера */
    margin: 0;
}

.content__details {
    height: 100%;
    width: 100%;
}
.content__accent {
    color: #545050;

}
.content__list-container {
    height: 298px;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;

}
.content__list {
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.content__list-item {
}
.content__card-link {
    text-decoration: none;
    color: #fff;
}
.content__video-card {
    display: flex;
    width: 390px;
    justify-content: space-between;
    align-items: flex-start;
}
.content__video-card-description-container {
    flex-grow: 1;
}
.content__video-card-title {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 196px;
}
.content__video-card-description {
    font-family: Fira Sans Condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0;
    text-transform: none;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;

}
.content__video-card-thumbnail {
    height: 100%;
    width: 194px;
    object-fit: cover;
    object-position: center;
}
.content__list .more-button:hover {
    text-decoration: underline;
}
.content__list .more-button:active {
    background-color: #545050;
}

/* Заголовок */
.title {
    margin-bottom: 26px;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    line-height: 94%;
    letter-spacing: 0;
    text-transform: uppercase;

}

/* Кнопки */
.button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding: 0;
    appearance: none;
}
.button:focus {
    outline: none;
}
.button:hover {
    text-decoration: underline;
}
.button:active {
    background-color: #545050;
}
.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}
.more-button {
    width: 100%;
    height: 34px;
    margin-top: 30px;
    flex-shrink: 0;
    align-self: flex-end;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}