*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* Основные стили страницы */
.page {
    display: flex;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;

    justify-content: center;
    align-items: center;

}

/* Скрытые элементы */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Основной контент */
.content {
    display: grid;
    grid-template-columns: 711px 399px;
    grid-column-gap: 30px;
}

.result {
    display: grid;
    grid-template-rows: 386px 54px;
    grid-row-gap: 16px;
    position: relative;
    top: 70px;
    height: 456px;
}
.result__video-container {
    height: 386px;
    width: 100%;
}
.result__video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Форма поиска */
.search-form {
    /*display: grid;
    grid-template-columns: 225px 212px 194px;
    grid-column-gap: 40px;*/
    display: flex;
    justify-content: space-between;
}
.search-form__fieldset {}
.search-form__fieldset-title {}
.search-form__label {

}
.search-form__label-text {}
.search-form__textfield {}
.search-form__checkbox-list {}
.search-form__checkbox {}
.search-form__pseudo-checkbox {}
.search-form__submit-button {
    align-self: flex-start;

}

.content__details {
    height: 100%;
    width: 100%;
}
.content__accent {}
.content__list-container {
    height: 298px;
    display: flex;
    overflow-y: scroll;

}
.content__list {
    display: grid;
    gap: 30px;
}
.content__list-item {

}
.content__card-link {}
.content__video-card {
    display: flex;
    width: 390px;
    justify-content: space-between;
    align-items: flex-start;
}
.content__video-card-description-container {
    flex-grow: 1;
}
.content__video-card-title {}
.content__video-card-description {}
.content__video-card-thumbnail {
    height: 100%;
    width: 194px;
    object-fit: cover;
    object-position: center;
}

/* Заголовок */
.title {
    margin-bottom: 26px;
}

/* Кнопки */
.button {}
.more-button {}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}